<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stepy</title>
    <link rel="stylesheet" href="/static/css/index_page.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LT8QR3VWN8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LT8QR3VWN8');
    </script>
</head>
<body>
    <div class="index-screen">
        <div class="content-wrapper">
            <div class="logo-container">
                <div class="logo-icon">
                    <img src="../static/img/small_logo.png" alt="작은 로고">
                </div>
                <div class="logo-text">Stepy</div>
            </div>
            <div class="subtitle">3-step으로 구조화된 문제힌트<br>진짜 '접근법'을 알려줍니다.</div>
            <div class="main-logo-container">
                <div class="main-logo-icon">
                    <img src="../static/img/large_logo.png" alt="큰 로고">
                </div>
            </div>
            <!-- 로그인 페이지 구현 후 login.html로 변경 -->
            <div class="button-and-notice">
                <div class="beta-notice">*Beta버전으로 일부 기능만 제공하고 있습니다.</div>
                <a href="chattingscreen.html" class="start-button">시작하기</a>
            </div>
        </div>
    </div>
</body>
</html>